<div id="<%= dom_id event %>" class="card mb-4 shadow-sm">
  <div class="card-body">
    <!-- Event Title -->
    <h5 class="card-title"><%= event.title %></h5>
    <!-- Author and Time -->
    <div class=" justify-content-between align-items-center mb-2">
      <div>
        by <strong><%= event.organizer&.name || "Unknown Organizer" %></strong>
        <small class="text-muted">| <%= time_tag event.created_at, event.created_at%></small>
      </div>
    </div>
    <!-- Event Images -->
    <% if event.images.attached? %>
      <div class="mb-3 d-flex flex-wrap gap-2">
        <% event.images.each do |image| %>
          <%= image_tag image, class: "img-thumbnail", style: "max-height: 150px;" %>
        <% end %>
      </div>
    <% end %>
    <!-- Event Description -->
    <div class="card-text trix-content">
      <%= event.description %>
    </div>
    <!-- Event Details -->
    <div class="mt-3">
      <% if event.event_date.present? %>
        <p><strong>Date:</strong> <%= event.event_date.strftime("%B %d, %Y - %I:%M %p") %></p>
      <% else %>
        <p><strong>Date:</strong> Not available</p>
      <% end %>
      <p><strong>Location:</strong> <%= event.location %></p>
      <p><strong>Total Seats:</strong> <%= event.total_seats %></p>
      <p><strong>Seats Booked:</strong> <%= event.seats_booked%></p>
      <% available_seats = event.total_seats.to_i - event.seats_booked.to_i%>
      <p><strong>Seats available:</strong> <%= available_seats %></p>
      <p><strong>Standard Seat Price:</strong> $<%= number_with_precision(event.standard_seat_price, precision: 2) %></p>
      <p><strong>Economy Seat Price:</strong> $<%= number_with_precision(event.economy_seat_price, precision: 2) %></p>
      <p><strong>Vip Seat Price:</strong> $<%= number_with_precision(event.vip_seat_price, precision: 2) %></p>
      <% if current_user.is_a?(Admin) || current_user.is_a?(Organizer) %>
        <p><strong>Total Revenue:</strong> $<%= number_with_precision(event.revenue, precision: 2) %></p>
      <% end%>
    </div>
    <!-- Optional: Buttons for show/edit/delete -->
    <div class="mt-3 d-flex gap-2">
      <% if policy(event).show? %>
        <%= link_to "Show this event", event_path(event), class: "btn btn-outline-primary btn-sm" %>
      <% end %>
      <% if policy(event).update? %>
        <%= link_to "Edit",edit_event_path(event), class: "btn btn-outline-secondary btn-sm" %>
      <% end %>
      <% if policy(event).destroy? %>
        <%= button_to "Delete", event, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-outline-danger btn-sm" %>
      <% end %>
    </div>
  </div>
</div>