<h1>Booking Confirmed </h1>
<p> Hello <%= @user.name %>,</p>
<p>
  Your Booking for <strong><%= @event.title%></strong> is confirmed.
</p>
<p>
  details:
  seats: <%= @booking.seats_booked%>
  type:<%= @booking.seat_type%>
  total paid: <%= @booking.total_price%>
</p>
<p> Thank you for booking!</p>
