<div class="container my-4">
<%= form_with(model:[:admin, @user], url: admin_users_path(@user), method: :post, scope: :user, class: "p-3 border rounded bg-light" )  do |form| %>
  <% if @user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :type, style: "display: block" %>
    <%= form.select :type, ["Admin","Organizer","Attendee"], {}, { class: "form-control" } %>
  </div>
  <div class="field">
    <p><%= form.label :password %> <i>(leave blank if you don't want to change it)</i></p>
    <p><%= form.password_field :password, autocomplete: "new-password", class: "form-control" %></p>
    <% if @minimum_password_length %>
      <p><em><%= @minimum_password_length %> characters minimum</em></p>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
  </div>

   <div>
    <%= form.submit "Create User", class: "btn btn-primary" %>
  </div>
<% end %>

</div>